/* Global Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: hsl(13, 64%, 96%);
  --text-color: hsl(173, 26%, 14%);
  --accent-color: hsl(357, 69%, 76%);
  --hover-color: hsl(174, 25%, 38%);
}

body {
  background-color: var(--bg-color);
  max-width: 100vw;
}

section {
  min-height: 100vh;
  margin-bottom: 10rem;
}

/* Header Navbar Styling */
.top-navbar {
  background-color: var(--accent-color);
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  top: 0;
  position: fixed;
}

.top-navbar__link {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: var(--text-color);
}

.top-navbar__link:link,
.top-navbar__link:visited,
.top-navbar__link:hover,
.top-navbar__link:active {
  text-decoration: none;
}

.top-navbar__link:hover {
  color: var(--hover-color);
}

/* Main Styling */
.page {
  margin: 6rem 2rem 6rem 2rem;
  display: flex;
  flex-direction: column;
}

.page__title,
.page__subtitle {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: var(--text-color);
  margin: 1rem 0;
  text-align: center;
}

.page__title {
  font-size: 2rem;
}

.page__subtitle {
  font-size: 1.5rem;
}

p, li, a {
  font-family: 'Lora', serif;
  color: var(--text-color);
  line-height: 2;
  text-align: center;
}

a:hover {
  color: var(--hover-color);
}

/* Footer Navbar Styling */
.bottom-navbar {
  background-color: var(--bg-color);
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
  position: fixed;
}

.bottom-navbar__link svg {
  fill: var(--text-color);
  height: 2rem;
  margin: 0 1rem;
}

.bottom-navbar__link svg:hover {
  fill: var(--hover-color);
}

/* Landing Section Styling */
.landing-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* About Section Styling */
.tech-stack__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tech-stack__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.tech-stack__list-item svg {
  fill: var(--accent-color);
  height: 3rem;
}

/* Work Section Styling */
.project-card {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.project-card__img {
  height: 8rem;
  width: 8rem;
}

.project-card__title {
  font-size: 1.25rem;
  margin: 1rem;
}

.testimonials-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Landscape tablets */
@media only screen and (min-width: 768px) {

}

/* Laptops and desktop monitors */
@media only screen and (min-width: 992px) {
  .top-navbar__link {
    font-size: 1.5rem;
  }
  .page {
    margin: 6rem 10rem 6rem 10rem;
  }
  .project-card__caption {
    max-width: 80%;
  }
  .testimonials-card__quote {
    align-self: center;
    max-width: 80%;
  }
}