* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: hsl(13, 64%, 96%);
  --text-color: hsl(173, 26%, 14%);
  --accent-color: hsl(357, 69%, 76%);
}

body {
  background-color: var(--bg-color);
}

main {
  margin: 5rem;
}

h1, h2, h3, a {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: var(--text-color);
}

p, li {
  font-family: 'Lora', serif;
  color: var(--text-color);
}

h1 {
  font-size: 7.5rem;
  text-align: right;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

.nav__page-links {
  font-size: 2rem;
}

.nav__social-links-icon svg {
  fill: var(--text-color);
  height: 4.5rem;
}

.tech-stack__list-item svg {
  fill: var(--accent-color);
  height: 4.5rem;
}